[user]
  name = EragonJ
  email = eragonj@eragonj.me
[color]
  diff = auto
  status = auto
[alias]
  ci = commit -a
  di = diff
  dip = diff HEAD~
  st = status
  co = checkout
  b = branch
  l = log -l 10
  ll = log --all --graph --decorate --oneline --abbrev-commit
  rb2 = rebase -i HEAD~2
  cf = show --pretty="format:" --name-only
