[user]
  name = EragonJ
  email = eragonj@eragonj.me
[color]
  diff = auto
  status = auto
[alias]
  ci = commit -a
  di = diff
  dip = diff HEAD~
  st = status
  co = checkout
  b = branch
  l = log -l 10
  ll = log --all --graph --decorate --oneline --abbrev-commit
  rb2 = rebase -i HEAD~2
  cf = show --pretty="format:" --name-only
[core]
  excludesfile = /Users/EragonJ/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[push]
  default = simple
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
